<h1> this is an index page</h1>
{{!--
{{#each Questions}}
<div>
    <a href="/questions/{{this.id}}">Title: {{this.title}} Description: {{this.description}}</a> -
    <a href="/questions/edit/{{this.id}}">Edit</a> -
    <a href="/questions/delete/{{this.id}}">Delete</a>
</div>

{{/each}} --}}